In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from dask import delayed, compute

In [2]:
%matplotlib inline

In [5]:
from mixed_quantum import qd_base_data as qd

In [4]:
import warnings
warnings.filterwarnings("ignore")

# Speed test comparison between scripts

## Test singularly

Cyquantum (full module with cython)

In [5]:
%%timeit
qd.qd_results(10,1.15,0.08,0.08)

363 ms ± 4.43 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

quantum_calculations (full module in python)

In [6]:
%%timeit
sqp.qd_results(10,1.15,0.08,0.08)

2.97 s ± 28.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

mixed quantum (only the zeros_f function in cython)

In [8]:
%%timeit
qbd.qd_results(10, 1.15, 0.08, 0.08)

290 ms ± 3.73 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [11]:
res1 = qd.qd_results(5,1,1,1)
res2 = sqp.qd_results(5,1,1,1)
res3 = qbd.qd_results(5, 1, 1, 1)

In [12]:
res1.e_levels

,l0,l1,l2,l3,l4,l5,l6,l7,l8,l9,...,l11,l12,l13,l14,l15,l16,l17,l18,l19,l20
0,-0.986071,-0.971469,-0.953071,-0.931029,-0.905454,-0.876430,-0.844018,-0.808271,-0.769231,-0.726933,...,-0.632691,-0.580800,-0.525762,-0.467598,-0.406330,-0.341977,-0.274558,-0.204093,-0.130601,-0.054101
1,-0.944312,-0.915730,-0.883247,-0.846905,-0.806806,-0.763034,-0.715663,-0.664756,-0.610369,-0.552556,...,-0.426841,-0.359033,-0.287987,-0.213751,-0.136377,-0.055922,NaN,NaN,NaN,NaN
2,-0.874821,-0.832306,-0.785971,-0.735731,-0.681676,-0.623889,-0.562450,-0.497435,-0.428920,-0.356982,...,-0.203190,-0.121544,-0.036921,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.777780,-0.721430,-0.661447,-0.597602,-0.529990,-0.458712,-0.383877,-0.305610,-0.224065,-0.139447,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.653506,-0.583520,-0.510206,-0.433190,-0.352620,-0.268689,-0.181675,-0.092048,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-0.502569,-0.419365,-0.333365,-0.244145,-0.152179,-0.058526,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-0.326128,-0.230791,-0.134071,-0.037168,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,-0.127521,-0.026217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
res2.e_levels

,l0,l1,l2,l3,l4,l5,l6,l7,l8,l9,...,l11,l12,l13,l14,l15,l16,l17,l18,l19,l20
0,-0.986,-0.972,-0.953,-0.931,-0.906,-0.877,-0.844,-0.808,-0.769,-0.727,...,-0.633,-0.581,-0.526,-0.468,-0.407,-0.342,-0.275,-0.204,-0.131,-0.054
1,-0.944,-0.916,-0.883,-0.847,-0.807,-0.763,-0.716,-0.665,-0.611,-0.553,...,-0.427,-0.359,-0.288,-0.214,-0.137,-0.056,NaN,NaN,NaN,NaN
2,-0.875,-0.833,-0.786,-0.736,-0.682,-0.624,-0.563,-0.498,-0.429,-0.357,...,-0.204,-0.122,-0.037,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.778,-0.722,-0.662,-0.598,-0.531,-0.459,-0.384,-0.306,-0.225,-0.140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.654,-0.584,-0.511,-0.434,-0.353,-0.269,-0.182,-0.092,-0.001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-0.503,-0.420,-0.334,-0.245,-0.153,-0.059,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-0.326,-0.232,-0.135,-0.038,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,-0.128,-0.027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
res3.e_levels

,l0,l1,l2,l3,l4,l5,l6,l7,l8,l9,...,l11,l12,l13,l14,l15,l16,l17,l18,l19,l20
0,-0.986071,-0.971508,-0.953133,-0.931116,-0.905568,-0.876571,-0.844188,-0.808468,-0.769453,-0.727179,...,-0.632974,-0.581094,-0.526061,-0.467896,-0.406617,-0.342244,-0.274795,-0.204286,-0.130736,-0.054162
1,-0.944312,-0.915845,-0.883400,-0.847096,-0.807035,-0.763301,-0.715964,-0.665087,-0.610725,-0.552929,...,-0.427222,-0.359398,-0.288320,-0.214032,-0.136581,-0.056017,NaN,NaN,NaN,NaN
2,-0.874821,-0.832535,-0.786250,-0.736058,-0.682047,-0.624300,-0.562892,-0.497899,-0.429392,-0.357446,...,-0.203558,-0.121808,-0.037019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.777780,-0.721808,-0.661882,-0.598089,-0.530520,-0.459272,-0.384449,-0.306169,-0.224574,-0.139850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.653506,-0.584079,-0.510824,-0.433852,-0.353305,-0.269364,-0.182285,-0.092490,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-0.502569,-0.420131,-0.334175,-0.244960,-0.152928,-0.059032,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-0.326128,-0.231765,-0.135006,-0.037802,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,-0.127521,-0.027130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Sequential calculations

Full cython module

In [16]:
data_list_qd = list()
for i in np.linspace(3, 15, 100):
    data_list_qd.append(qd.qd_results(i, 1.15, 0.08, 0.08))

compute(data_list_qd)

Full python module

In [17]:
data_list_sqp = list()
for i in np.linspace(3, 15, 100):
    data_list_sqp.append(sqp.qd_results(i, 1.15, 0.08, 0.08))

compute(data_list_sqp);

Full python with zeros_f calculated in cython

In [18]:
data_list_qbd = list()
for i in np.linspace(3, 15, 100):
    data_list_qbd.append(qbd.qd_results(i, 1.15, 0.08, 0.08))

compute(data_list_qbd)

## Using dask

Full cython method

In [19]:
data_list_qd = list()
for i in np.linspace(3, 15, 100):
    data_list_qd.append(delayed(qd.qd_results)(i, 1.15, 0.08, 0.08))

compute(data_list_qd);

Full python method

In [20]:
data_list_sqp = list()
for i in np.linspace(3, 15, 100):
    data_list_sqp.append(delayed(sqp.qd_results)(i, 1.15, 0.08, 0.08))

compute(data_list_sqp);

Full python with zeros_f in python

In [21]:
data_list_qbd = list()
for i in np.linspace(3, 15, 100):
    data_list_qbd.append(delayed(qbd.qd_results)(i, 1.15, 0.08, 0.08))

compute(data_list_qbd);

## Extensive Cython + Dask test

With dask

In [22]:
data_list_qd = list()
for i in np.linspace(3, 15, 500):
    data_list_qd.append(delayed(qd.qd_results)(i, 1.15, 0.08, 0.08))

compute(data_list_qd);

In [23]:
data_list_sqp = list()
for i in np.linspace(3, 15, 500):
    data_list_sqp.append(delayed(sqp.qd_results)(i, 1.15, 0.08, 0.08))

compute(data_list_sqp);

In [24]:
data_list_qbd = list()
for i in np.linspace(3, 15, 500):
    data_list_qbd.append(delayed(qbd.qd_results)(i, 1.15, 0.08, 0.08))

compute(data_list_qbd);

Without dask

In [26]:
data_list_qd = list()
for i in np.linspace(3, 15, 500):
    data_list_qd.append(qd.qd_results(i, 1.15, 0.08, 0.08))

#compute(data_list_qd);

In [29]:
data_list_sqp = list()
for i in np.linspace(3, 15, 500):
    data_list_sqp.append(sqp.qd_results(i, 1.15, 0.08, 0.08))

#compute(data_list_sqp);

In [30]:
data_list_qbd = list()
for i in np.linspace(3, 15, 500):
    data_list_qbd.append(qbd.qd_results(i, 1.15, 0.08, 0.08))

#compute(data_list_qbd)